@use "variables" as *;
//-------------------- Media Queries ----------------------

// typography media queries in the typography partial

@media (min-width:601px) {
    input:checked~.navMenuContent {
            padding: 10px;
    }

    .blogPostContainer1,
    .blogPostContainer2 {
        padding: 50px 0;
    }

    .socialMediaIcon {
        width: 3rem;
        height: 3rem;
    }

    .svgIcons {
        height: 100px;
        width: 100px;
    }
}

@media (min-width: 801px) {

    .wrapper {
        width: 80%;
        margin: 8% auto;
    }

    header {
        background-image: url(../assets/header-alt.png);
        background-size: cover;
        height: 100vh;
    }

    .headerContainer {
        width: 90%;
        margin: 0 0 0 10%;
    }

    .navMenuContainer {
        padding-right: 40px;

        li {
            margin: 0 20px;
        }
    }

    // .arrowKey {
    //     width: 3rem;
    //     height: 3rem;
    // }

    .navMediaContainer {
        padding: 14vh 0 0 0;

        width: 10%;
            flex-direction: column;
            // justify-content: space-between;

        li {
            margin: 8px 0;
        }

        a {
            padding: 0px 0;
        }
    }

    .navMenuContent ul {
    li {
        padding: 0;
    }
}

    .navMenuButton {
        display: none;
        //display none rather than visibility because we dont want the footprint
    }

    .titleContainer {
        padding: 140px 0 0 0;
        width: 30%;
    }

    .navMenuContent {
        display: flex;
    }

    input:checked~.navMenuContent {
        padding: 30px;
    }

    .navMenuContent ul {
        justify-content: space-between;
    }

    .navMediaContainer {
        flex-direction: column;
    }

    .socialMediaIcon {
        width: calc(2rem + 6px);
        height: calc(2rem + 6px);
        padding: 6px;
    }



    .blogImgContainer {
        display: flex;
        width: 50%;
        align-self: center;
    }

    .blogTextContainer {
        display: flex;
        width: 50%;
        flex-direction: column;
    }

    .blogPostContainer1,
    .blogPostContainer2 {
        padding: 0;
    }

    .blogTextWrapper1 p,
    .blogTextWrapper2 p {
        width: 100%;
    }

    .blogTextWrapper1 {
        padding: 10% 10% 10% 20%;
    }

    .blogTextWrapper2 {
        padding: 10% 20% 10% 10%;
    }


    .galleryMain {
        flex-basis: 40%;
    }

    .gallerySub {
        display: flex;
        flex-basis: 25%;
    }

    .aboutGalleryContainer {
        height: 25vh;
        margin-top: 8%;
        
        ul {
            justify-content: space-between;

        }
    }

    .blog {
        background-color: $paleGrey;
    }

    .blogContainer {
        padding-bottom: 0;
    }

    .blogPostContainer1 {
        flex-direction: row-reverse;
        padding: 0;
    }

    .blogPostContainer2 {
        flex-direction: row;
        padding: 0;
    }

    .aboutExtraContainer {
        flex-direction: row;
        padding-top: 50px;
    }

    .aboutExtraImgContainer {
        display: flex;
        align-self: center;
        width: 25%;
    }

    .aboutExtraTextContainer {
        display: flex;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        width: 75%;
        align-items: flex-start;
    }

    .additionalLinks {
        margin-top: 0;
        background-color: $lightPink;

        .wrapper {
            margin: 0 auto;
        }

        ul {
            display: flex;
            flex-direction: row;
        }

        h5 {
            margin: 30px auto;
        }
    }

    .svgIcons {
        width: 50px;
        height: 50px;
    }

    .contact .wrapper {
        margin: 0 auto;
    }

    .contactContainer {
        flex-direction: row;
    }

    .subscribeContainer {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: flex-start;

        h4 {
            align-self: flex-start;
        }

        form {
            align-items: flex-start;
            flex-direction: row;
            width: 90%;

            input {
                text-align: left;
                font-size: 1rem; //20px
                width: 70%;
                height: 39px;
                padding-left: 10px;
            }
        }
    }

    .contactBottomContainer {
        padding: 0;
        width: 50%;
    }

    .contactDetailContainer {
        width: 70%;
    }

    .copyRight p {
        padding: 10px 0;
    }
}

@media (min-width: 1000px) {
    .line1::after,
    .line3::after {
        content: none;
        white-space: none;
    }

    .titleContainer {
        padding: 140px 0 0 0;
        width: 40%;
    }

    .aboutGalleryContainer {
        height: 35vh;
    }
}