//variables partial is in the same level as this partial
@use "variables" as *;

html {
    /* assuming browser default fontsize of 16px, 125% will make it 1rem is 20px.
    0.1rem is 2px */
    font-size: 125%;
}

// font-family: 'Barlow', sans-serif;
// font-family: 'Catamaran', sans-serif;

body {
    //Using EmblemaOne as base font. will specify less used fonts per use
    font-family: 'Emblema One', cursive;
    max-width: 1280px;
}

//Title font styles
h1 {
    font-size: 5.23rem; //104.6px
    color: $waterBlue;
}

//Sub-Title font styles
h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 1.86rem; //37.2px
}

//Nav font styles
nav li {
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem; //18px
    font-weight: 600; //semi bold
}

