//variables partial is in the same level as this partial
@use "variables" as *;

/*Mobile first. the mobile size fonts have been adjusted for more comfortable viewing. PC typography strictly follows the style guide
*/

html {
    /* assuming browser default fontsize of 16px, 125% will make it 1rem is 20px.
    0.1rem is 2px */
    font-size: 125%;
}

body {
    //Using EmblemaOne as base font. will specify less used fonts per use
    font-family: 'Emblema One', cursive;
    color: $darkerGrey;
}

//Title font styles
h1 {
    font-weight: 400;
    font-size: 2rem;

    color: $waterBlue;
    text-transform: uppercase;
}

//Section Headings font styles
h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: $waterBlue;
    text-transform: uppercase;
    padding: 70px 0;
}

//Sub-Title font styles
h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.015rem; //0.3px
    color: $darkerGrey;
}

//Footer Headings/links font styles
h4 {
    font-weight: 400;
    font-size: 1.4rem;
    color: $waterBlue;
    text-transform: uppercase;
}

//bodyLinks font styles
h5 {
    font-weight: 400;
    font-size: 1.8rem;
    color: $waterBlue;
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
}

//Navigation Links font styles
nav li {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600; //semi bold
    font-size: 0.9rem; //18px
    line-height: 1.45rem; //29px
    text-transform: uppercase;
}

p {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.01rem; //0.2px
    color: $darkerGrey;
}

.navMenuContent a {
    font-size: 0.8rem;
    padding: 0;
}

a {
    color: $darkerGrey;
}

//button font styles
button {
    display: flex;
    /*googled to find width property value of fit-content: 
    https: //stackoverflow.com/questions/27722872/make-button-width-fit-to-the-text
    */
    width: fit-content;
    text-transform: uppercase;
    color: $lightPink;
    background-color: $marine;
    font-family: 'Emblema One', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 15px 20px;
    margin-top: 40px;
    cursor: pointer;
}

.readMoreButton {
    display: flex;
    /*googled to find width property value of fit-content: 
    https: //stackoverflow.com/questions/27722872/make-button-width-fit-to-the-text
    */
    width: fit-content;
    text-transform: uppercase;
    color: $lightPink;
    background-color: $marine;
    font-family: 'Emblema One', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 15px 20px;
    margin-top: 30px;
}

//-------------------- Media Queries ----------------------
@media (min-width:401px) {
    h1 {
        font-size: 2.7rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.895rem; //37.9px
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    .navMenuContent a {
        font-size: 1rem;
        padding: 0;
    }
}

@media (min-width:601px) {
    h1 {
        font-size: 4rem;
        line-height: 4.365rem; //87.3px
    }

    h2 {
        font-size: 2.4rem;
        text-align: center;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.2rem;
    }

    .navMenuContent a {
        font-size: 1.3rem;
        padding: 0;
    }

    button {
        font-size: 1.8rem;
        padding: 20px 30px;
    }
        
    .readMoreButton {
        font-size: 1.8rem;
        padding: 20px 30px;
        line-height: 1.45rem; //29px
        margin-top: 15px;
    }

}
//Break point into desktop styles (pc)
@media (min-width: 801px) {
    h1 {
        font-size: 4rem; 
    }

    h2 {
        font-size: 2rem;
        font-weight: 400;
 
        color: $waterBlue;
        text-transform: uppercase;
        padding: 0px 0 15px 0;
    }

    h3 {
        font-size: 1.4rem;
    }

    .aboutExtraTextContainer h2,
    .blogTextContainer h2 {
        text-align: left;
    }

    h4 {
        font-size: 1.25rem; //25px
        line-height: 1.45rem; //29px
    }

    h5 {
        font-size: 1.56rem; //31.2px
    }

    p {
        font-size: 1rem; //20px
        line-height: 1.45rem; //29px
    }


    button {
        font-size: 0.8rem;
        padding: 10px 20px;
        line-height: 1.45rem; //29px
        align-self: baseline;
        margin-top: 15px;
    }
    .readMoreButton {
        align-self: baseline;
    }

    .subButton {
        padding: 5px 10px;
        margin-top: 10px;
    }

    // Change button theme to pink base
    .pinkTheme {
        color: $marine;
        background-color: $paleRose;
    }

}

@media (min-width: 1000px) {
    h1 {
            font-size: 5.23rem; //104.6px
        }
    
        h2 {
            font-size: 2.1rem; //42px
            font-weight: 400;
    
            color: $waterBlue;
            text-transform: uppercase;
            padding: 0px 0 15px 0;
        }
    
        h3 {
            font-size: 1.86rem; //37.2px
        }
}