html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
header,
ul,
li,
a,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

img {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

html {
  /* assuming browser default fontsize of 16px, 125% will make it 1rem is 20px.
  0.1rem is 2px */
  font-size: 125%;
}

body {
  font-family: "Emblema One", cursive;
  max-width: 1280px;
}

h1 {
  font-weight: 400;
  font-size: 5.23rem;
  line-height: 4.365rem;
  color: #1d81cc;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
  font-weight: 400;
  text-align: center;
  color: #1d81cc;
  text-transform: uppercase;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1.86rem;
  line-height: 1.895rem;
  letter-spacing: 0.015rem;
}

h4 {
  font-weight: 400;
  font-size: 1.25rem;
  color: #1d81cc;
  text-transform: uppercase;
}

nav li {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.45rem;
  text-transform: uppercase;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 0.01rem;
}

.bodyLinks {
  font-weight: 400;
  font-size: 1.56rem;
  color: #1d81cc;
  text-align: center;
  text-transform: uppercase;
}

/* Setting up as Mobile first.
    Larger screen size will be accomodated with media queries. */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  padding-top: 20px;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.titleContainer,
.navMenuContainer,
.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navMenuButton {
  /*googled css properties to make button background transparent:
  https: //stackoverflow.com/questions/22672368/how-to-make-a-transparent-html-button
  */
  background-color: transparent;
  width: 70px;
  padding: 10px;
}

.navMenuContent {
  display: none;
}

.titleContainer {
  padding: 140px 0 0 0;
  width: 40%;
}

header {
  /* img url when you select it on SCSS is 2 levels above to get to the assets folder. HOWEVER, when its compiled in css, its only 1 level above.
  thus you have to make that adjustment yourself.
  */
  background-image: url(../assets/header-alt-mobile.png);
  background-size: cover;
  max-width: 1280px;
  height: 100vh;
}
header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navMediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socialMediaIcon {
  width: 1rem;
  /* googled and found a stackoverflow page on how to change svg icon colors.

  link: https: //stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element/53336754#53336754

  got the below color using Hex color to CSS filter generator
  https: //codepen.io/sosuke/pen/Pjoqqp
  $waterBlue: #1d81cc;
  */
  -webkit-filter: invert(36%) sepia(97%) saturate(723%) hue-rotate(173deg) brightness(96%) contrast(90%);
          filter: invert(36%) sepia(97%) saturate(723%) hue-rotate(173deg) brightness(96%) contrast(90%);
}

.aboutGalleryContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutGalleryContainer ul li {
  width: 30%;
}

.aboutExtraContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutExtraImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* googled css flexbox image stretched and found this website: 
  https: //techstacker.com/how-to-prevent-image-stretching-with-flexbox/

  this explained that flex container default on align-self is stretch. hence causing this issue
  */
  -ms-flex-item-align: center;
      align-self: center;
  width: 25%;
}

.aboutExtraTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}

button {
  /*googled to find width property value of fit-content: 
  https: //stackoverflow.com/questions/27722872/make-button-width-fit-to-the-text
  */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  color: #fcdde2;
  background-color: #042259;
  font-family: "Emblema One", cursive;
  font-weight: 400;
  padding: 10px 20px;
}

.blogPostContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blogImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
}

.blogTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pinkTheme {
  color: #042259;
  background-color: #f5c8cf;
}

.svgIcons {
  /*Hex to css filter converted
  $marine: #042259;
  */
  -webkit-filter: invert(12%) sepia(24%) saturate(6421%) hue-rotate(210deg) brightness(89%) contrast(104%);
          filter: invert(12%) sepia(24%) saturate(6421%) hue-rotate(210deg) brightness(89%) contrast(104%);
  width: 40px;
}

.copyRight p {
  text-align: center;
}

@media (min-width: 801px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
  header {
    background-image: url(../assets/header-alt.png);
    height: 90vh;
  }
  .navMenuButton {
    display: none;
  }
  .navMenuContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blogTextWrapper1 {
    padding: 20% 10% 20% 20%;
  }
  .blogTextWrapper2 {
    padding: 20% 20% 20% 10%;
  }
}